.left_menu_box{
    z-index: 2;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: white
}
.left_menu_box.collapse{
    width: 70px;
}
.card_info_c{
    display: flex;
}
.rd-table-container{
    overflow-x: auto;
}
.home table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
.home th, .home td {
    text-align: left;
    padding: 8px;
  }
  .home td{
    border: 1px solid #ddd;
  }
  
.home tr:nth-child(even){background-color: #f2f2f2}